<!-- myapp/templates/myapp/partials/town_options.html
<label class="form-label" for="id_town">Town</label>
<select name="town" id="id_town" class="form-select">
    <option value="">---------</option>
    {% for town in towns %}
        <option value="{{ town.pk }}">{{ town.name }}</option>
    {% endfor %}
</select>
{% if form.town.errors %} {# Access errors from the main form object #}
    <div class="invalid-feedback d-block">{{ form.town.errors }}</div>
{% endif %} -->




<label for="{{ form.town.id_for_label }}" class="form-label">Town</label>
{{ form.town }}
{% if form.town.errors %}
<div class="invalid-feedback d-block">{{ form.town.errors }}</div>
{% endif %}