

<!-- myproject/myapp/templates/password_reset.html -->
{% extends "base.html" %}



{% block content %}


{% if  messages %}
                        
    {% for i in messages %}
    <div class="alert alert-info" role="alert">
      {{ i  }}
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</spam></button>
    </div>



    
<div class="container-fluid">
    <div class="row justify-content-center align-items-center min-vh-100">
        <div class="col-md-5 col-lg-4">
            <div class="card shadow-lg border-0">
                <div class="card-body p-5">
                    <div class="text-center mb-4">
                           <h2>Check Your Email</h2>
  <p> A link to reset your password has been sent to your email address  </p>
      <h4> <p class="text-info-emphasis">{{ email }}</p></h4>
    <p> Please follow the instructions to proceed.</p>
              
                    </div>

                             
                  
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}