
{% load static %}
{% load custom_filters %}

<!-- myapp/templates/base.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
   
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
  

    <!-- Custom CSS -->
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'css/info.css' %}">
    <!-- HTMX -->
    <script src="https://unpkg.com/htmx.org@1.9.12"></script>
    <script src="{% static 'js/vehicle_upload.js' %}"></script>
    {% comment %} js {% endcomment %}
    link
</head>
<body>

    
<nav class="navbar navbar-expand navbar-dark bg-white sticky-top">
    <div class="container-fluid">
        <a class="navbar-brand d-flex align-items-center" href="{% url 'buyrite:home' %}">
            <img src="{% static 'images/buyrite.png' %}" alt="BuyRite" width="150" height="50" class="rounded shadow-sm me-2">
            <span style="color: #FF6A00; font-weight: bold;"></span>
        </a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarContent">
            <ul class="navbar-nav ms-auto">
                {% comment %} {% if user.is_authenticated and not user.is_dealer %} {% endcomment %}
                    <li class="nav-item">
                        <a class="nav-link text-dark" href="{% url 'buyrite:dealer_registration' %}">Become a Dealer</a>
                    </li>
                {% comment %} {% endif %} {% endcomment %}
                <li class="nav-item">
                        <a class="nav-link text-dark btn btn-warning" href="{% url 'buyrite:check_vin' %}">Custom Paper</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark btn btn-warning" href="#">VIN Lookup</a>
                    </li>

                {% if user.is_authenticated %}
                   
                    
                    {% if user.is_dealer or user.is_superuser %}
                        <li class="nav-item">
                            <button class="btn btn-outline-dark" type="button" data-bs-toggle="offcanvas" data-bs-target="#operationsMenu">
                                Operations
                            </button>
                        </li>
                    {% endif %}
                    <li class="nav-item">
                        <a class="nav-link text-dark btn btn-warning" href="{% url 'users:logout' %}">Logout</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link text-dark" href="{% url 'users:login' %}">Login</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>







     <div class="container-fluid mt-5">
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
        
                    {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>

                </div>
            {% endfor %}
        {% endif %}

        



 
 {% block content %}{% endblock %}

 {% block extra_js %}
 
 {% endblock %}
    </div>

    
    <div class="offcanvas offcanvas-end" tabindex="-1" id="operationsMenu" aria-labelledby="operationsMenuLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="operationsMenuLabel">Operations</h5>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <ul class="list-group">
            {% if user.is_dealer %}
                <li class="list-group-item">
                    <a href="{% url 'buyrite:dashboard' %}" class="text-decoration-none">Dealer Dashboard</a>
                </li>
                <li class="list-group-item">
                    <a href="{% url 'buyrite:upload_vehicle' %}" class="text-decoration-none">Upload Vehicle</a>
                </li>
            {% endif %}  
            {% if user.is_superuser %}
                <li class="list-group-item">
                    <a href="{% url 'buyrite:operations' %}" class="text-decoration-none">Admin Tools</a>
                </li>
            {% endif %}
        </ul>
    </div>
</div>
    <!-- Bootstrap JS -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1e7Qy2vJc3/BqP2oR" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.min.js" integrity="sha384-G/EV+4j2dNv+tEPo3++6LCgdCROaejBqfUeNjuKAiuXbjrxilcCdDz6ZAVfHWe1Y" crossorigin="anonymous"></script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.min.js" integrity="sha384-G/EV+4j2dNv+tEPo3++6LCgdCROaejBqfUeNjuKAiuXbjrxilcCdDz6ZAVfHWe1Y" crossorigin="anonymous"></script>



<script src="https://unpkg.com/htmx.org@1.9.10" integrity="sha384-D1Kt99CQgSblCfx2H2s+h2Iq6kS6g6g/xG48r2P+h6vLh6uH2r7/g6E/h+L" crossorigin="anonymous"></script>
</body>
</html>