

{% extends "base1.html" %}
{% load static  %}

{% block title %}
  <title>Summary </title>
{% endblock title %}




{% block content %}

<table class="table caption-top">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Summary</th>
      <th scope="col">Overall Sentiment </th>
      <th scope="col">Ticket</th>
      <th scope="col">Info Source</th>
      <th scope="col">Time Stamp</th>
    </tr>
  </thead>
  {% for i in insight %}
  <tbody>
    <tr>
      <th scope="row">{{i.user.username  }}</th>
       <td>{{ i.summary }}</td>
      <td>{{ i.sum_sentiment }}</td>
      {% comment %} <td>{{ i.sentiment }}</td> {% endcomment %}
      <td>{{ i.sum_ticket }}</td>
      <td>{{ i.source }}</td>
      <td>{{ i.created_at }}</td>

        </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock content %}