<!-- <label for="{{ form.vehicle_model.id_for_label }}" class="form-label">Model</label>
{{ form.vehicle_model }}
{% if form.vehicle_model.errors %}
<div class="invalid-feedback d-block">{{ form.vehicle_model.errors }}</div>
{% endif %}

 -->

<!-- myapp/templates/myapp/partials/vehicle_model_options.html -->
<label class="form-label" for="id_vehicle_model">Vehicle Model</label>
<select name="vehicle_model" id="id_vehicle_model" class="form-select"
        hx-get="/load_trims/"
        hx-trigger="change"
        hx-target="#div_id_trim"
        hx-swap="outerHTML">
    <option value=""></option>
    {% for model in models %}
        <option value="{{ model.pk }}">{{ model.name }}</option>
    {% endfor %}
</select>
{% if form.vehicle_model.errors %} {# Access errors from the main form object #}
    <div class="invalid-feedback d-block">{{ form.vehicle_model.errors }}</div>
{% endif %}